body,html {
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: white;

}

header {
  position: relative;
  height: 100vh;
  background: linear-gradient(133deg, rgba(52,54,66, 0.8), rgba(19,19,20, 0.7)), url("images/landscape 4.jpg") no-repeat center;
  background-size: cover;

}

.headText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;

}

.headText h1 {
  font-size: 40px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 8px 15px;
  letter-spacing: 10px;
  font-weight: bold;
  overflow: hidden;

}


.sub {
  display: block;
  font-size: 20px;
  overflow: hidden;
  margin-bottom: 30px;

}

.contact {
  padding: 10px 24px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s all;
  font-weight: bold;


}

.contact:hover {
  background-color: #E3DFDE;
  opacity: 0.8;

}

.navBar {
  overflow: hidden;

}

nav {
  position: fixed;
  width: 100%;
  line-height: 40px;
  transition: 0.3s all;
  z-index: 1;

}

nav.show {
  background-color: #3A3A3A;

}

nav.remove {
  background-color: transparent;

}

.homeBorder {
  border: 3px solid white;
  border-radius: 5px;
  padding: 12px 11px;
  font-weight: bolder;
  color: white;

}

.projectButton {
  color: #E3DFDE;

}

.aboutButton {
  color: #E3DFDE;

}

.navBar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;

}

.navBar a.homeHighlight {
  margin-right: 30px;

}

.navBar a.projectHighlight {
  margin-right: 30px;

}

.navBar a.aboutHighlight {
  margin-right: 30px;

}

.navBar .icon {
  display: none;
  color: white;
  margin-top: 10px;

}

@media screen and (max-width: 900px) {
  .navBar a:not(:first-child) {display: none;}
  .navBar a.icon {
    float: right;
    display: block;

  }

  .navBar a.projectHighlight:hover {
    background-color: grey;

  }

  .navBar a.aboutHighlight:hover {
    background-color: grey;

  }
}

@media screen and (max-width: 900px) {
  .navBar.responsive {position: relative;}
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;

  }

  .navBar {
    transition: 0.3s all;
    background-color: #3A3A3A;

  }

  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-right: 0px;

  }

}

section div  {

    padding:1px;
}

.MyProjects {
  font-size: 18px;
  line-height: 35px;

}

.AboutMe {
  font-size: 18px;
  line-height: 35px;

}

h2 {
  text-align: center;

}

p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: #404040;
  padding: 0px 70px 0px 70px;

}

.section1 {
  background-color: #d4d4d4;
  padding-bottom: 30px;

}

.section2 {
  background-color: #ebebeb;
  padding-bottom: 30px;

}



.projectGrid {
  list-style: none;
  text-align: center;
  margin-right: 35px;

}

.projectGrid li {
  width: 328px;
  height: 328px;
  display: inline-block;
  margin: 25px;

}

.projectEntry {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out,
  -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out,
  -moz-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.entryOne {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(images/website-cover2.png);
  background-position: center;
  background-size: cover;
}

.entryTwo {
  background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.30)), url(images/black-screen.png); /*When future projects are made, replace url tag*/
  background-position: center;
  background-size: cover;

}

.entryThree {
  background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.30)), url(images/black-screen.png); /*When future projects are made, replace url tag*/
  background-position: center;
  background-size: cover;

}

.projectEntry:hover {
  transform: scale(1.03);

}

.description {
  position: absolute;
  width: inherit;
  height: inherit;

}

.description h3 {
  margin-top: 60px;
  color: white;
  font-size: 30px;

}

.description p {
  color: white;
  font-size: 18px;

}

.University {
  padding-top: 25px;
  border-top: 3px solid white;

}

.University img {
  width: 160px;
  height: 207px;
  display: block;
  margin-left: auto;
  margin-right:auto;

}

.UniText {
  display: block;
  text-align: center;
  line-height: 18px;

}
