body,html {
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: white;

}

.head {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(133deg, rgba(52,54,66, 0.8), rgba(19,19,20, 0.7)), url("landscape 4.jpg") no-repeat center;
  background-size: cover;

}

.headText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: bold;

}

.headText h1 {
  font-size: 40px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 8px 15px;

}


.sub {
  display: block;
  font-size: 20px;

}

main {
  text-align: center;
  color: black;

}
